$mobile-sm-width: 375px;
$tablet-width: 768px;
$desktop-width: 1024px;
$nav-limit-width: 1040px;

@mixin mobile-sm {
  @media (max-width: #{$mobile-sm-width - 1}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin nav-limit {
  @media (max-width: #{$nav-limit-width}) {
    @content;
  }
}