body {
  font-family: "ProximaNovaThin","Helvetica Neue","HelveticaNeue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

h1 {
  font-size: 72px;
  line-height: 1.2;
  @include tablet {
  }

  @include desktop {
  }
}

h2 {
  font-size: 60px;
  line-height: 1.2;
  @include tablet {
  }

  @include desktop {
  }
}

h3 {
  font-size: 48px;
  line-height: 1.2;
  @include tablet {
  }

  @include desktop {
  }
}

h4 {
  font-size: 36px;
  line-height: 1.2;
  @include tablet {
  }

  @include desktop {
  }
}

p {
  font-size: 16px;
  line-height: 1.2;
  @include tablet {
  }

  @include desktop {
  }
}